In [1]:
import pandas as pd

In [2]:
hitters = pd.read_csv('/mnt/g/ML_data/BB_game_data/hittersByGame.csv')

/tmp/ipykernel_397/2452900381.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  hitters = pd.read_csv('/mnt/g/ML_data/BB_game_data/hittersByGame.csv')

In [3]:
hitters

,Hitters,H-AB,AB,R,H,RBI,BB,K,#P,AVG,OBP,SLG,Game,Team,Position,Hitter Id
0,M. Carpenter,1-4,4,0,1,1,1,0,22,0.25,0.4,0.25,360403123,STL,3B,31015
1,T. Pham,0-1,1,0,0,0,0,0,1,0.0,0.0,0.0,360403123,STL,LF,31208
2,M. Adams,0-4,4,0,0,0,0,2,18,0.0,0.0,0.0,360403123,STL,1B,31359
3,M. Holliday,1-3,3,0,1,0,1,1,15,0.33299999999999996,0.5,0.33299999999999996,360403123,STL,1B-LF,5940
4,R. Grichuk,1-4,4,0,1,0,0,3,14,0.25,0.25,0.25,360403123,STL,CF,31399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361859,A. Diaz,0-1,1,0,0,0,0,1,5,0.333,0.5,0.333,401361981,HOU,PH-LF,33390
361860,M. Maldonado,1-2,2,0,1,0,0,1,12,0.235,0.263,0.235,401361981,HOU,C,30289
361861,M. Gonzalez,0-1,1,0,0,0,0,1,6,0.25,0.25,0.25,401361981,HOU,PH,30327
361862,G. Stubbs,0-0,0,0,0,0,0,0,0,0.0,0.0,0.0,401361981,HOU,C,35760
361863,TEAM,6-32,32,0,6,0,0,10,121,NaN,NaN,NaN,401361981,HOU,TEAM,-

In [4]:
hitter_names_ids = hitters[["Hitters","Hitter Id"]].copy
col_to_remove = ['Game','Team','Position','H-AB',"Hitters","Hitter Id"]
ml_hitters = hitters.drop(columns=col_to_remove, axis=1, inplace=True)
hitters.drop(hitters.index[-1],inplace=True)
hitters = hitters.apply(pd.to_numeric, errors='coerce')
hitters = hitters.dropna()

In [5]:
hitters

         AB    R    H  RBI   BB    K    #P    AVG    OBP    SLG
0       4.0  0.0  1.0  1.0  1.0  0.0  22.0  0.250  0.400  0.250
1       1.0  0.0  0.0  0.0  0.0  0.0   1.0  0.000  0.000  0.000
2       4.0  0.0  0.0  0.0  0.0  2.0  18.0  0.000  0.000  0.000
3       3.0  0.0  1.0  0.0  1.0  1.0  15.0  0.333  0.500  0.333
4       4.0  0.0  1.0  0.0  0.0  3.0  14.0  0.250  0.250  0.250
...     ...  ...  ...  ...  ...  ...   ...    ...    ...    ...
361858  2.0  0.0  0.0  0.0  0.0  0.0   4.0  0.167  0.167  0.167
361859  1.0  0.0  0.0  0.0  0.0  1.0   5.0  0.333  0.500  0.333
361860  2.0  0.0  1.0  0.0  0.0  1.0  12.0  0.235  0.263  0.235
361861  1.0  0.0  0.0  0.0  0.0  1.0   6.0  0.250  0.250  0.250
361862  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.000  0.000  0.000

[333958 rows x 10 columns]

In [6]:
y = hitters["OBP"]

In [7]:
x = hitters.copy()
x = x.drop("OBP", axis=1)

In [8]:
x.isna().any().any()

False

In [9]:
x.shape

(333958, 9)

In [10]:
y.shape

(333958,)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [12]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
# Create an instance of the LinearRegression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict the target variable for new data
y_pred = model.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(y_test, y_pred, squared=False)

In [16]:
rmse

0.056818949915478055

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mse = mean_squared_error(y_test, y_pred)

In [19]:
mse

0.0032283930694976034